body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    background-image:url(images/maiden-tower-colored.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    text-overflow:clip;
}
.divs{
    border: 2px rgb(118, 115, 115 ) solid;
    background-color: rgb(30, 61, 61 , 0.9);
    border-radius: 25px;
    text-overflow:clip;
}
.field{
    border: 2px grey solid;
    border-radius: 50px;
    margin: 10px;
    
}
#divUserInfo{
 background-color: rgb(247, 221, 190 , 0.4);
  background-repeat: no-repeat;
  background-size: cover; 
    background-position: center;
    
}
#img1{
    width: 100px;
    border: 2px solid;
    border-radius: 500px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;    
}
